*,
*:before,
*:after {
    box-sizing: border-box;
    direction: rtl;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    line-height: 1;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    margin: 0;
    font-family: MiriamLibre, sans-serif;
    color: white;
    scroll-behavior: smooth;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

.btn {
    outline: none;
    border: 0;
    // font-weight: 100;
    font-size: 18px;
    border-radius: 28px;
    padding: 13px 26px;
    border: 1px solid $text-color;
    color: $text-color;
    line-height: 1;
    background-color: $bg-color-2;
    font-family: MiriamLibre, sans-serif;

    &.white {
        color: $text-color;
        &::after {
            background-color: #eef4ff;
        }
        &:active {
            color: $text-color;
        }
    }
}

.bold {
    font-weight: 700;
}

.reset-btn {
    background-color: unset;
    border: none;
    padding: 0;
}

.reset-link {
    color: unset;
    text-decoration: none;
}

.primary {
    color: $text-color;
}

.btn-hover {
    position: relative;
    display: inline-block;
    transition: transform .5s ease, color .3s ease;
    
    &::before {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $text-color-3;
        position: absolute;
        opacity: 0;
        left: 50%;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: all 0.3s ease;
        transform: translate(-50%, 0);
        transition:
            opacity 0.3s ease,
            transform 0.3s ease;
    }

    &:hover {
        color: $text-color-3 !important;

        transform: translateY(-5px); /* Move text upward a bit */
        &::before {
            opacity: 1;
            transform: translate(-50%, 15px);
        }
    }
}
