@font-face {
    font-family: "Rubik";
    src: url("/aviv-cv/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "MiriamLibre";
    src: url("/aviv-cv/fonts/MiriamLibre-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}
