$bg-color: black;
$bg-color-2: #141414;

$text-color: #FAFAFC;
$text-color-2: #D9E5FF;
$text-color-3: #2A60FF;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;