.footer-wrapper {
    background-color: #0d1119;
    .footer {
        // height: 100vh;
        padding-block: 100px;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1140px) {
            flex-direction: row;
        }

        .left-container {
            width: 100%;
      
            .footer-vector {
                background-image: url("/aviv-cv/assets/footer-vector.svg");
                background-size: contain;
                background-repeat: no-repeat;
                max-width: 564px;
                aspect-ratio: 818 / 548;
                margin: auto;
                @media screen and (min-width: 1140px) {
                    margin: unset;
                    max-width: unset;
                    width: 100%;
                }
            }
        }
        .right-container {
            width: 100%;
            margin-bottom: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media screen and (min-width: 840px) {
                align-items: center;
            }
            @media screen and (min-width: 1140px) {
                align-items: unset;
            }
            .title {
                font-size: 40px;
                font-weight: 700;
                max-width: 508px;
                margin-bottom: 12px;

                @media screen and (min-width: 840px) {
                    font-size: 77px;
                }
                @media screen and (min-width: 1510px) {
                    font-size: 96px;
                }
            }
            .sub-title {
                font-size: 24px;
                opacity: 0.7;
                margin-bottom: 45px;
            }

            .btn {
                font-size: 18px;
                display: flex;
                flex-direction: column;
                width: fit-content;
                align-self: center;
                // padding: 25px 43px 15px 50px;

                @media screen and (min-width: 840px) {
                    // padding: 25px 50px;
                    align-self: unset;
                }

                .text {
                    line-height: 1.5;
                }
            }
        }
    }
}
