.header-wrapper {
    background-color: $bg-color-2;
    position: sticky;
    top: 0;
    z-index: 100;

    // &.white {
    //     background-color: $text-color;
    //     color: $text-color;
    //     .header-container {
    //         nav {
    //             .navbar {
    //                 > li {
    //                     &.download-cv-btn {
    //                         svg > * {
    //                             stroke: #0d1119;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }

    .header-container {
        height: 102px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width: 840px) {
            height: 116px;
        }

        nav {
            height: 100%;
            display: flex;
            .navbar {
                display: flex;
                gap: 54px;
                font-weight: 500;
                font-size: 18px;
                > li {
                    color: $text-color;
                    align-self: center;

                    &.projects-btn,
                    &.download-cv-btn {
                        display: none;
                        color: inherit;
                    }
                    &.download-cv-btn {
                        .cv {
                            color: inherit;
                        }
                    }
                    .contact-btn {
                        // padding: 6px 19px;
                        font-size: 16px;
                        font-weight: 500;
                        @media screen and (min-width: 840px) {
                            // padding: 8px 24px;
                            font-size: 18px;
                        }
                    }
                    .hamburger-btn {
                        padding: 0;
                    }
                    @media screen and (min-width: 840px) {
                        &.projects-btn,
                        &.download-cv-btn {
                            display: block;
                        }
                        &.hamburger-btn-container {
                            display: none;
                        }
                        &.download-cv-btn {
                            .cv {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
