.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
    margin-bottom: 330px;

    .my-name {
        font-size: 96px;
    }
    .sub-title {
        text-align: center;
        font-size: 170px;
        font-weight: 700;
        max-width: 1073px;
        position: relative;
        .text {
            line-height: 0.85;
        }
        .cloud-vector {
            background-image: url("/assets/hero-vector.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0%, 10%;
            height: 313px;
            width: 415px;
            z-index: -1;
            position: absolute;
            right: -18%;
            bottom: -15%;
        }
        .aviv-cartoon {
            background-image: url("/assets/aviv-cartoon.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0%, 10%;
            height: 285px;
            width: 285px;
            z-index: -1;
            position: absolute;
            right: -4%;
            bottom: 33%;
        }
        .doggo {
            background-image: url("/assets/hero-doggo.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0%, 10%;
            height: 133px;
            width: 130px;
            position: absolute;
            left: -2.7%;
            bottom: 29%;
        }
        .arrow-vector {
            background-image: url(/assets/hero-vector2.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0%, 10%;
            height: 48px;
            width: 48px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: -30px;
        }
    }
}
