.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 370px;
    padding-bottom: 268px;
    overflow: hidden;

    @media screen and (min-width: 840px) {
        padding-top: 125px;
        padding-bottom: 330px;
    }

    .my-name {
        opacity: 0.8;
        font-size: 38px;

        @media screen and (min-width: 840px) {
            font-size: 66px;
        }
        @media screen and (min-width: 1575px) {
            font-size: 96px;
        }
    }
    .sub-title {
        text-align: center;
        font-weight: 700;
        position: relative;
        font-size: 68px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 400px;

        @media screen and (min-width: 840px) {
            max-width: 740px;
            font-size: 120px;
        }

        @media screen and (min-width: 1575px) {
            font-size: 170px;
            max-width: 1025px;
        }
        .text {
            line-height: 0.85;
            &:first-child {
                display: block;
                margin-left: 14px;
                @media screen and (min-width: 840px) {
                    width: 100%;
                    margin-left: unset;
                }
            }
            &:nth-child(2) {
                @media screen and (min-width: 840px) {
                    margin-left: 24px;
                }
                @media screen and (min-width: 1575px) {
                    margin-left: 38px;
                }
            }
            // &.first-text {
            //     color: transparent;
            //     &::before {
            //         color: white;
            //         content: 'מעצב חווית משתמש';
            //     }
            // }
            @media screen and (min-width: 1575px) {
            }
        }
        .cloud-vector {
            background-image: url("/assets/hero-vector.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0%, 10%;
            z-index: -1;
            position: absolute;
            aspect-ratio: 415/313;
            transform: scaleX(-1);
            right: -15%;
            bottom: -42%;
            // right: -9%;
            // bottom: -42%;
            height: 401px;

            @media screen and (min-width: 840px) {
                transform: unset;
                right: -18%;
                bottom: -15%;
                height: 240px;
            }
            @media screen and (min-width: 1575px) {
                height: 313px;
            }
        }
        .aviv-cartoon {
            background-image: url("/assets/aviv-cartoon.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0%, 10%;
            z-index: -1;
            position: absolute;
            height: 200px;
            // top: -181%;
            top: -207%;
            aspect-ratio: 1/1;

            @media screen and (min-width: 840px) {
                top: unset;
                right: -4%;
                bottom: 33%;
                height: 215px;
            }

            @media screen and (min-width: 1575px) {
                height: 285px;
            }
        }
        .doggo {
            background-image: url("/assets/hero-doggo.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0%, 10%;
            height: 82px;
            position: absolute;
            right: 0;
            bottom: 79%;
            aspect-ratio: 130/133;
            transform: rotate(7deg);

            @media screen and (min-width: 840px) {
                transform: unset;
                right: unset;
                left: -2.7%;
                bottom: 29%;
                height: 100px;
            }

            @media screen and (min-width: 1575px) {
                right: unset;
                left: -2.7%;
                bottom: 29%;
                height: 133px;
            }
        }
        .arrow-vector {
            background-image: url("/assets/hero-vector2.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0%, 10%;
            height: 44px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            aspect-ratio: 1/1;
            bottom: -125%;

            @media screen and (min-width: 840px) {
                bottom: -20px;
                height: 32px;
            }

            @media screen and (min-width: 1575px) {
                bottom: -30px;
                height: 48px;
            }
        }
    }
}

.bg-curve-vector {
    background-image: url("/assets/summary-bg.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0d1119;
    width: 100%;
    height: 100px;
    overflow: hidden;
    aspect-ratio: 1728 / 981;
}
