.logo-container {
    // &.white {
    //     .logo-desktop,
    //     .logo-mobile {
    //         g > * {
    //             fill: $text-color;
    //         }
    //     }
    // }

    .logo-desktop {
        display: none;
    }

    @media screen and (min-width: $breakpoint-lg) {
        .logo-mobile {
            display: none;
        }
        .logo-desktop {
            display: block;
        }
    }
}
