.project {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: right;
  .sections {
    .section {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 125px;
      }
      .section-content {
        margin-bottom: 40px;
        @media screen and (min-width: 992px) {
          margin-bottom: 60px;
        }
        .title {
          font-size: 40px;
          margin-bottom: 24px;
          font-weight: 700;
          color: $text-color;
          @media screen and (min-width: 992px) {
            font-size: 60px;
            margin-bottom: 40px;
          }
        }

        .description {
          font-size: 16px;
          font-weight: 400;
          color: #757d8e;
          @media screen and (min-width: 992px) {
            font-size: 24px;
          }

          > p {
            line-height: 1.1;

            > strong {
              color: $text-color;
              font-weight: 700;
            }
          }
        }
      }

      .gallery {
        // display: grid;
        // grid-template-columns: 1fr; // Mobile: one column
        // gap: 1rem;
        width: 100%;
        // margin: 0 auto;

        .swiper-slide {
          // position: relative;
          width: 100%;
          overflow: hidden;
          background-color: $bg-color-2;
          border-radius: 30px;
          aspect-ratio: 361 / 264;
        }

        &:not(.logos) {
          .swiper-slide {
            &:first-child {
              .gallery-image {
                object-fit: cover;
              }
            }
          }
        }

        &.cover {
          .swiper-slide {
            background-color: transparent;
          }
        }

        .gallery-image {
          pointer-events: none;
          object-fit: contain;
          &.cover {
            object-fit: cover;
          }
        }

        &.logos {
          .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(1),
            &:nth-child(4) {
              background-color: $bg-color-2;
            }

            &:nth-child(2),
            &:nth-child(3) {
              background-color: $text-color;
            }

            &:nth-child(4) {
              order: 3;
            }
            &:nth-child(3) {
              order: 4;
            }
          }
          .gallery-image {
            width: 55% !important;
            height: 55% !important;
            position: unset !important;
            &.third-width {
              width: 33% !important;
            }
          }
        }

        @media (min-width: 992px) {
          display: grid;
          margin: 0 auto;
          grid-template-columns: repeat(2, 1fr); // Two columns on larger screens

          > * {
            position: relative;
            width: 100%;
            overflow: hidden;
            background-color: $bg-color-2;
            aspect-ratio: 361 / 264;
          }

          &.no-bg {
            > * {
              background-color: unset;
            }
          }

          &.cover {
            > * {
              background-color: transparent;
            }
          }

          &:not(.logos) {
            gap: 1rem;

            > * {
              border-radius: 30px;
            }

            > *:first-child {
              aspect-ratio: 1578 / 1000;
            }

            > *:not(:first-child) {
              aspect-ratio: 774 / 437;
            }

            > *:first-child {
              grid-column: 1 / -1;
            }
          }

          &.column3 {
            grid-template-columns: repeat(3, 1fr); // Three columns on even larger screens

            // First image: big image
            > *:first-child {
              aspect-ratio: 1578 / 1000;
            }

            // All other images: small images
            > *:not(:first-child) {
              aspect-ratio: 506 / 450;
            }
          }

          &.logos {
            border-radius: 40px;
            overflow: hidden;
            > * {
              aspect-ratio: 789 / 500;
            }

            .img-container {
              display: flex;
              align-items: center;
              justify-content: center;
              &:nth-child(1),
              &:nth-child(4) {
                background-color: $bg-color-2;
              }

              &:nth-child(2),
              &:nth-child(3) {
                background-color: $text-color;
              }
            }
          }

          // Make the first image span both columns (full width)
        }
      }
    }
  }
  .projects-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
}
