.projects-wrapper {
    background-color: #141414;

    .projects {
        display: grid;
        grid-template-columns: 15px 1fr 15px;

        @media screen and (min-width: 1605px) {
            max-width: 1575px;
            width: 100%;
            margin: auto;
            display: block;
            grid-template-columns: unset;
        }

        .project {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column-reverse;
            grid-column: 2;
            gap: 60px;
            padding-bottom: 100px;
            width: 100%;

            &:nth-child(2n) {
                @media screen and (min-width: 1141px) {
                    flex-direction: row-reverse;
                }
            }

            &:first-child {
                padding-top: 100px;
                @media screen and (min-width: 840px) {
                    padding-top: 300px;
                }
            }

            &:last-child {
                grid-column: 1 / -1;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    height: 88%;
                    width: 100%;
                    background-color: $bg-color;
                    bottom: 0;
                    left: 0;
                }
                .project-graphic-container {
                    .project-graphic {
                        padding-inline: 15px;
                        z-index: 1;
                        position: relative;
                    }
                    .project-content {
                        padding-inline: 15px;
                        z-index: 1;
                        position: relative;
                    }
                }
                @media screen and (min-width: 1140px) {
                    &::before {
                        content: unset;
                    }
                }
            }
            .project-graphic-container {
                .project-graphic {
                    flex: 1;
                    max-height: 456px;
                    height: 100%;
                    width: 100%;
                    aspect-ratio: 640 / 456;
                    object-fit: contain;

                    &:not(img) {
                        border-radius: 28px;
                        background-color: #eef4ff;
                    }
                    @media screen and (min-width: 1141px) {
                    }
                }
            }

            .project-content {
                display: flex;
                flex-direction: column;

                > *:not(:last-child) {
                    margin-bottom: 35px;
                }
                .title {
                    font-size: 40px;
                    font-weight: 700;
                    color: $text-color;
                    @media screen and (min-width: 840px) {
                        font-size: 64px;
                    }
                }
                .description {
                    max-width: 703px;
                    font-size: 24px;
                    color: $text-color-2;
                    line-height: 1;
                }
                .date {
                    font-size: 18px;
                    color: $text-color-2;
                    display: flex;
                    flex-direction: column;
                    font-weight: 700;
                    @media screen and (min-width: 840px) {
                        font-size: 22px;
                    }
                    @media screen and (min-width: 1141px) {
                        font-size: 24px;
                    }
                    > * {
                        line-height: 1;
                    }
                }

                .project-btn {
                    font-size: 18px;
                    display: flex;
                    flex-direction: column;
                    width: fit-content;

                    .text {
                        line-height: 1.5;
                        opacity: 0.7;
                    }
                }
            }

            @media screen and (min-width: 840px) {
                // width: fit-content;
                // margin: auto;
            }

            @media screen and (min-width: 1141px) {
                flex-direction: row;
                padding-bottom: 300px;
                width: unset;
                margin: unset;
            }
        }
    }
}
