@import "@/styles/basic/variables";

.paragraph{
  display: flex;
  font-size: 18px;
  font-size: 18px;
  max-width: 591px;
  // color: $text-color;
  line-height: 1;
  line-height: 1;
  color: white;
  flex-wrap: wrap;
  @media screen and (min-width: $breakpoint-lg) {
      font-size: 22px;
  }
  @media screen and (min-width: 1510px) {
      font-size: 24px;
  }
  .word{
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
    unicode-bidi: plaintext;
    .shadow{
      position: absolute;
      opacity: 20%;
    }
  }
  
}